/* HEADER */

#head {
    display: flex;
    position: sticky;
    left: 0;
    z-index: 2;
    background: white;
}

#head span {
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    text-align: left;
    padding: 0;
}

th {
    box-shadow: 0 -1px 0 0 #000,
        0 1px 0 0 #000;
}

td:not(:nth-child(1)) {
    padding: 0 8px 0 8px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

th:nth-child(1), td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #000;
}

input[type="checkbox"] {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bg {
    display: flex;
    align-items: stretch;
    background: white;
    padding: 8px;
}

details {
    display: inline-block;
}